In [28]:
import pandas as pd

In [29]:
df1 = pd.read_excel("Analytics_All_Web_Site_Data_AdWords_Search_Queries_20170615-20180302.xlsx",sheet_name="Dataset1")

In [30]:
df2 = pd.read_excel("Analytics_All_Web_Site_Data_AdWords_Search_Queries_20170615-20180302_(1).xlsx",sheet_name="Dataset1")

In [31]:
# remove last row of summary statistics
df1 = df1.iloc[:-1]
df2 = df2.iloc[:-1]

In [32]:
df1.head()

,Search Query,Device Category,Clicks,Cost,CPC,Users,Sessions,Bounce Rate,Pages / Session,Ecommerce Conversion Rate,Transactions,Revenue
0,lovers lane,mobile,23784,4661.140473,0.195978,16892,23924,0.338739,6.585437,0.012373,296,14427.932060
1,adam and eve,mobile,11623,4136.570907,0.355895,9909,12046,0.220156,8.804831,0.016354,197,16738.700462
2,cock rings,mobile,11432,3908.717332,0.341910,9860,11807,0.419328,4.576353,0.014314,169,5351.590941
3,lions den,mobile,11255,1430.801782,0.127126,8788,12322,0.334280,6.884110,0.008034,99,4400.214237
4,sex toys,mobile,10769,6282.888300,0.583424,8950,10897,0.178673,9.120308,0.012297,134,7782.683211

In [33]:
df2.head()

,Search Query,Device Category,Clicks,Cost,CPC,Users,Sessions,Bounce Rate,Pages / Session,Ecommerce Conversion Rate,Transactions,Revenue
0,women's favorite sex toys,mobile,34,11.993959,0.352764,21,21,1.000000,1.000000,0.0,0,0.0
1,worlds best vibrator,mobile,34,10.815133,0.318092,14,14,1.000000,1.000000,0.0,0,0.0
2,1 rated dildo,mobile,33,5.387787,0.163266,28,35,0.400000,3.628571,0.0,0,0.0
3,8 vibrator,mobile,33,7.049220,0.213613,21,28,0.000000,7.821429,0.0,0,0.0
4,adam & eve sex toys,mobile,33,9.794539,0.296804,21,21,0.333333,9.761905,0.0,0,0.0

In [36]:
df1.head().append(df2.head()).reset_index().drop('index')

ValueError: labels ['index'] not contained in axis